// SPDX-License-Identifier: GPL-2.0+

/ {
	smbios {
		compatible = "u-boot,sysinfo-smbios";

		smbios {
			system {
				product = "eDPU";
			};

			baseboard {
				product = "eDPU";
			};

			chassis {
				product = "eDPU";
			};
		};
	};
};

&spi0 {
	bootph-all;

	spi-flash@0 {
		bootph-all;
	};
};

&sdhci0 {
	bootph-all;
};

&eth0 {
	phy-mode = "1000base-x";

	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&eth1 {
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

/*
 * eDPU v2 has a MV88E6361 switch on the MDIO bus and U-boot is used
 * to patch the Linux DTS if its found so enable MDIO by default.
 */
&mdio {
	status = "okay";
};

&switch {
	status = "okay";

	mdio {};

	ports {
		port@0 {
			phy-mode = "1000base-x";

			fixed-link {
				speed = <1000>;
				full-duplex;
			};
		};

		port@1 {
			status = "disabled";
			reg = <1>;
		};

		port@2 {
			status = "disabled";
			reg = <2>;
		};

		port@3 {
			status = "disabled";
			reg = <3>;
		};

		port@4 {
			status = "disabled";
			reg = <4>;
		};

		port@5 {
			status = "disabled";
			reg = <5>;
		};

		port@6 {
			status = "disabled";
			reg = <6>;
		};

		port@7 {
			status = "disabled";
			reg = <7>;
		};

		port@8 {
			status = "disabled";
			reg = <8>;
		};

		port@a {
			//phy-mode = "1000base-x";
			phy-mode = "sgmii";

			fixed-link {
				speed = <1000>;
				full-duplex;
			};
		};
	};
};
